#
# Copyright (c) 2017 Perov Maxim <coder@frtk.ru>
#

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%C(yellow)%h%Creset | %ad %C(red)(%ar)%Creset | %C(bold blue)[%an]%Creset - %s%d\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p

[color]
    ui = true

[credential]
    helper = cache --timeout 7200

[http]
    postBuffer = 1048576000
